/** SIMPLE RESET **/
*{  margin: 0; padding: 0;  
    font-family: "Archivo", inconsolata;
    color: white;}
*,*::after,*::before{   box-sizing: border-box; font-size: 15px; }
body{   min-height: 100dvh;  background-color:  rgb(24, 24, 24);}

h1, h2, h3, h4, h5{ text-wrap: balance; }
input, button, textarea, select{    font: inherit;  }
p{  text-wrap: pretty;  }

img, video, svg{    height: auto; max-width: 100%;
                    vertical-align: middle;
}
@media (prefers-reduced-motion: reduce){
    *, *::after, *::before{
        animation-duration: 0.01ms;
        animation-iteration-count: 1;
        transition-duration: 0.01ms;
        scroll-behavior: smooth;
        transition: none;
    }
}
